.menu{
    min-width: 296px;
}

.logo{
    display: block;
    background-image: url('/assets/images/logo-ANSWER.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
    width: 183px;
}

.menu-list{
    padding-left: $spacer * 2;
    a{
        width: 100%;
        color:inherit;
        text-decoration: none;
    }
    .list-group-item{
        color: $dark;
        background-color: transparent;
        padding: 0;
        margin: 0;
        margin-bottom: $spacer * 1.5;
        border: none;
    }
    .list-group-item-action.active, .list-group-item-action:hover{
        color: $success;
        position: relative;
        &::before{
            content:'';
            height: 100%;
            position: absolute;
            border-left: 4px solid $success;
            left: -$spacer * 2;
        }
    }
}

.picture-size{
    width: 40px;
    height: 40px;
}

.user-picture{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
}