<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ANSWER - <%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
  <body>
    <main>
      <div class="d-flex flex-row">
        <div class="menu bg-light py-5 d-flex flex-column">
          <h1><img src="./assets/images/logo-ANSWER.svg" alt="" class="logo ps-5 mb-5"></h1>
          <div class="menu-wrapper d-flex flex-column justify-content-between flex-grow-1">
            <ul class="list-group menu-list">
              <li class="list-group-item d-flex align-items-center py-1">
                <a href="#">
                  <span class="mdi mdi-chart-box fs-4 lh-1 me-3"></span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="list-group-item d-flex align-items-center py-1">
                <a href="#">
                  <span class="mdi mdi-forum fs-4 lh-1 me-3"></span>
                  <span>Question</span>
                </a>
              </li>
              <% if(title == "Assignment"){ -%>
              <li class="list-group-item d-flex align-items-center py-1 active">
              <% } else { -%>  
              <li class="list-group-item d-flex align-items-center py-1">
              <% } -%>
                <a href="index.html">
                  <span class="mdi mdi-clipboard-text fs-4 lh-1 me-3"></span>
                  <span>Assignment</span>
                </a>
              </li>
              <li class="list-group-item d-flex align-items-center py-1">
                <a href="#">
                  <span class="mdi mdi-clipboard-play-multiple fs-4 lh-1 me-3"></span>
                  <span>Course</span>
                </a>
              </li>
              <% if(title == "Admin"){ -%>
              <li class="list-group-item d-flex align-items-center py-1 active">
              <% } else { -%>  
              <li class="list-group-item d-flex align-items-center py-1">
              <% } -%>
                <a href="admin.html">
                  <span class="mdi mdi-account-multiple fs-4 lh-1 me-3"></span>
                  <span>Admin</span>
                </a>
              </li>
              <li class="list-group-item d-flex align-items-center py-1">
                <a href="#">
                  <span class="mdi mdi-cog fs-4 lh-1 me-3"></span>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
            <div class="user-info-wrapper d-flex flex-row align-items-center ps-5">
              <div class="picture-size me-3">
                <img src="./assets/images/andychen.jpeg" alt="" class="user-picture">
              </div>
              <div class="user-info-items">
                <p class="fw-bold mb-1">Andy Chen</p>
                <p class="text-secondary fw-regular fs-7 mb-0">andy0401@mail.com</p>
              </div>
            </div>
          </div>
        </div>
        <%- contents %>
      </div>
    </main>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>